.stars {
  display: grid;
  grid-template-columns: repeat(5, $star-width);
  column-gap: 4px;

  &__star {
    width: $star-width;
    height: $star-height;
    background: center no-repeat url(../images/star-active.svg);
  }

  & .star-inactive {
    background-image: url(../images/star.svg);
  }
}
