.stars {
  display: grid;
  grid-template-columns: repeat(5, $star-width);
  column-gap: 4px;

  &__star {
    width: $star-width;
    height: $star-height;
    background: center no-repeat url(../images/star.svg);
  }

  @for $number from 1 to 5 {
    &--#{$number} > .stars__star:nth-child(-n + #{$number}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
